{% load static %}
<!DOCTYPE html>
<html>
<body>
<input type="hidden" id="table_id" value="{{ fusion_key }}">
<div id="googleMap"></div>
<div id="addresses">
	{% for add in addresses %}
	<span>{{add.lat}},{{add.lon}} {{add.address}}</span><br>
	{% endfor %}
</div>

<script src="{% static 'map.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{gkey}}&callback=myMap"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"></style>
</body>
</html>